

$primary-color: #1E6655;
$secondary-color: #B7CEC9;
$background-color: #E4EFEC;
$text-color: #000;
$light-text-color: #B7CEC9;
$error-color: red;
$hover-color: #B7CEC9;
$button-color: #FFFFFF;
$border-color: #B7CEC9;
$primary-background: #EFFAF7;
