
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.tags-container {
  background-color: $background-color;
  opacity: 1;
  max-height: 100%;
  overflow: hidden;
  margin-top: 1.875rem;

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 0;
    flex-direction: row;
  }

  &.show {
    @include desktop {
      position: relative;
      z-index: 1;
    }
  
    & .filter-head{
      display: flex;
    }
  }
}

.filter-head {
  @include mobile__header;
  padding: 1rem;
  display: none;

  @include desktop {
    display: flex;
    flex-direction: column;
  }
}

.navbar.expanded .tags-container {
  opacity: 1;

  @include desktop {
    width: 30%;
    align-self: flex-end;
    display: flex;
  }
}

.tag-btn {
  margin: .3125rem .3125rem;
  color: $primary-color;
  padding: .5rem .75rem;
  border-radius: .4375rem;
  border: .0625rem solid $primary-color;
  cursor: pointer;
  transition: background-color 0.3s ease;
  @include mobile__bodyMedium;

  @include desktop {
    top: 1.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  
 &.active {
    background-color: $primary-color;
    color: $button-color;
  }
  
  &:hover{
    background-color: $secondary-color;
  }
}

.tags {
  margin: 1.25rem;

  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
}