@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Newsreader-Light.woff2") format("woff2"), url("../../assets/fonts/Newsreader-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Newsreader-LightItalic.woff2") format("woff2"), url("../../assets/fonts/Newsreader-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Newsreader-Regular.woff2") format("woff2"), url("../../assets/fonts/Newsreader-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Light.woff2") format("woff2"), url("../../assets/fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Medium.woff2") format("woff2"), url("../../assets/fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.photo-cardbox {
  display: flex;
  flex-direction: column;
  background-color: #EFFAF7;
  padding: 16px;
}
@media (min-width: 768px) {
  .photo-cardbox {
    padding: 24px;
  }
}
@media (min-width: 1280px) {
  .photo-cardbox {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 900px;
  }
}

.photo-img-large {
  width: 100%;
  align-self: center;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media (min-width: 768px) {
  .photo-img-large {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.name {
  font-family: "Outfit";
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .name {
    font-family: "Outfit";
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
  }
}

.photo-cards {
  background-color: #E4EFEC;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 20px;
  margin-top: 10px;
  height: 330px;
  border: 1px solid #B7CEC9;
  align-self: center;
}
@media (min-width: 768px) {
  .photo-cards {
    height: 550px;
    width: 95%;
  }
}
@media (min-width: 1280px) {
  .photo-cards {
    width: 100%;
  }
}

.name__date {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-family: "Outfit";
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  width: 100%;
}
@media (min-width: 768px) {
  .name__date {
    font-family: "Outfit";
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .timestamp {
    padding: 16px;
    align-items: center;
  }
}

.name__likes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: flex-start;
  font-family: "Outfit";
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .name__likes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding: 16px;
    font-family: "Outfit";
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
  }
}

.likes {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.tags-photos {
  padding: 10px;
  display: flex;
  width: 100%;
  gap: 0.9375rem;
  align-self: start;
}
@media (min-width: 768px) {
  .tags-photos {
    gap: 100px;
  }
}
@media (min-width: 1280px) {
  .tags-photos {
    display: flex;
    padding-left: 20px;
    justify-content: space-evenly;
  }
}

.tags--photo {
  background-color: #fff;
  border: 1px solid #E4EFEC;
  border-radius: 9px;
  padding: 7px 7px;
  cursor: pointer;
  align-items: center;
  font-style: normal;
  font-family: "Outfit";
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .tags--photo {
    font-family: "Outfit";
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
  }
}

.footer__photo {
  padding: 16px;
}/*# sourceMappingURL=PhotoPage.css.map */