@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.photo-cardbox{
    display: flex;
    flex-direction: column;
    background-color: $primary-background;
    padding: 1rem;

    @include tablet{
        padding: 1.5rem;
    }

    @include desktop{
        margin: 0 auto; 
        padding: 0;
        width: 100%; 
        max-width: 56.25rem; 
    }
}
.photo-img-large{
    width: 100%;
    align-self: center;
    height: 12.5rem;
    object-fit: cover;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;

    @include tablet{
        height: 25rem;
        object-fit: cover;
    }
}
.name{
    @include mobile__bodyMedium;

    @include tablet{
        @include tablet__bodyMedium;
    }
}
.photo-cards{
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 1.25rem;
    margin-top: .625rem;
    height: 20.625rem;
    border: .0625rem solid  $secondary-color;
    align-self: center;

    @include tablet{
        height: 34.375rem;
        width: 95%;
    }
    @include desktop{
        width: 100%;
    }
}
.name__date{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    @include mobile__bodyMedium;
    width: 100%;

    @include tablet{
        @include tablet__bodyMedium;
    }
}
.timestamp{

    @include tablet{
        padding: 1rem;
        align-items: center;
    }
}

.name__likes{
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    align-self: flex-start;
    @include mobile__bodyMedium;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        padding: 1rem;
        @include tablet__bodyMedium;
    }
}
.likes{
    display: flex;
    align-items: center;
    gap: .3125rem;
}
.tags-photos{
    padding: .625rem;
    display: flex;
    width: 100%;
    gap: .9375rem;
    align-self: start;

    @include tablet{
        gap: 6.25rem;
    }
    @include desktop{
       display: flex;
       padding-left: 1.25rem;
    }

}
.tags--photo{
    background-color: $button-color;
    border: .0625rem solid $background-color;
    border-radius: .5625rem;
    padding: .4375rem .4375rem;
    cursor: pointer;
    align-items: center;
    font-style: normal;
    @include mobile__smallBody;

    @include tablet{
        @include tablet__bodyMedium;
    }
}
.footer__photo{
    padding: 1rem;
}