@use "../../styles/partials/mixins" as *;

.photos-grid {
  flex-grow: 1; // Ensures it fills available space
  width: 100%;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

  @include desktop {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
}


// .navbar.expanded ~ .photos-grid {
//   @include desktop {
//     grid-template-columns: 1fr 1fr;
//     width: 80%;
//   }
// }

.filter-open .photos-grid{
  @include desktop{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}