@use "./styles/partials/mixins" as *;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
    background-color: #EFFAF7;
    font-family: "Newsreader", "Outfit", Arial, sans-serif;
    min-height: 100vh; // Makes sure the main fills the full screen height
    display: flex;
    flex-direction: column;
}

